<head>
   <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.1/css/aui.css" media="all">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="//aui-cdn.atlassian.com/aui-adg/5.9.1/js/aui.js"></script>
   <script type="text/javascript" src="../js/client-create-wp.js"></script>
</head>
<body>
   <!--<h1>Welcome pack</h1>-->
   <button id="welcomepack" class="aui-button" type='button' >Create Welcome Pack</button>
</body>
