<head>
   <meta name="jwtToken" content="{{token}}">
   <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.1/css/aui.css" media="all">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="//aui-cdn.atlassian.com/aui-adg/5.9.1/js/aui.js"></script>
   <script type="text/javascript" src="../js/client-dialog.js"></script>
</head>
<body>
	<div width="200">
		<form action="#" method="post" id="welcome-pack-form" class="aui">
			<fieldset>
				<div class="field-group">
					<label for="name">Name
						<span class="aui-icon icon-required"> required</span>
					</label>
					<input id="name" class="text" type="text" name="name" placeholder="New starter name" maxlength="100" tabindex="10">
				</div>
			</fieldset>
			<fieldset>
				<div class="field-group">
					<label for="manager">Manager</label>
					<input id="manager" class="text" type="text" name="manager" placeholder="Manager name" maxlength="100" tabindex="10">
				</div>
			</fieldset>
			<fieldset>
				<div class="field-group">
					<label for="department">Department</label>
					<input id="department" class="text" type="text" name="department" placeholder="Department name" maxlength="100" tabindex="10">
				</div>
			</fieldset>
			<fieldset>
				<div class="field-group">
					<label for="location">Location</label>
					<input id="location" class="text" type="text" name="location" placeholder="Location name" maxlength="100" tabindex="10">
				</div>
			</fieldset>
			<fieldset>
				<div class="field-group">
					<label for="startdate">Start date</label>
					<input id="startdate" class="aui-date-picker" id="demo-range-always" type="date" name="startdate" placeholder="Start date" maxlength="100" tabindex="10">
				</div>
			</fieldset>
		</form>
	</div>
</body>