<ac:layout>
	<ac:layout-section ac:type="two_right_sidebar">
		<ac:layout-cell>
			<p>
				<h2>Welcome to the team, {{this.name}}!</h2>
				<ac:structured-macro ac:name="include">
					<ac:parameter ac:name="">
						<ac:link>
							<ri:page ri:content-title="Welcome pack - welcome message" />
						</ac:link>
					</ac:parameter>
				</ac:structured-macro>
			</p>
		</ac:layout-cell>
		<ac:layout-cell>
			<ac:structured-macro ac:name="details">
				<ac:parameter ac:name="label" />
				<ac:rich-text-body>
					<table style="line-height: 1.42857;">
						<tbody>
							<tr><th>New starter</th>
								<td>{{this.name}}</td>
							</tr>
							<tr><th colspan="1">Location</th>
								<td colspan="1">{{this.location}}</td>
							</tr>
							<tr><th>Start date</th>
								<td><time datetime="{{this.startData}}" /></td>
							</tr>
							<tr><th colspan="1">Department</th>
								<td colspan="1">{{this.department}}</td>
							</tr>
							<tr><th>Manager</th>
								<td><ac:link>{{this.manager}}</ac:link></td>
							</tr>
						</tbody>
					</table>
				</ac:rich-text-body>
			</ac:structured-macro>
		</ac:layout-cell>
	</ac:layout-section>
	<ac:layout-section ac:type="single">
		<ac:layout-cell>
			<hr />
			<h2 style="text-align: center;">Your guides</h2>
		</ac:layout-cell>
	</ac:layout-section>
	<ac:layout-section ac:type="two_equal">
		<ac:layout-cell>
			<ac:structured-macro ac:name="panel" ac:schema-version="1">
				<ac:parameter ac:name="borderStyle">none</ac:parameter>
				<ac:rich-text-body>
					<p style="text-align: center;">
						<ac:structured-macro ac:name="profile-picture" ac:schema-version="1">
							<ac:parameter ac:name="User">
								<ri:user ri:username="2c9082c93f36441c013f364a7f7c0160" />
							</ac:parameter>
						</ac:structured-macro>
					</p>
					<p style="text-align: center;">Your buddy is
						<ac:link>
							<ri:user ri:username="admin" />
						</ac:link>.
					</p>
					<p style="text-align: center;">
						<ac:structured-macro ac:name="include" ac:schema-version="1">
							<ac:parameter ac:name="">
								<ac:link>
									<ri:page ri:content-title="Welcome pack - buddy description" />
								</ac:link>
							</ac:parameter>
						</ac:structured-macro>
					</p>
				</ac:rich-text-body>
			</ac:structured-macro>
		</ac:layout-cell>
		<ac:layout-cell>
			<ac:structured-macro ac:name="panel" ac:schema-version="1">
				<ac:parameter ac:name="borderStyle">none</ac:parameter>
				<ac:rich-text-body>
					<p style="text-align: center;">
						<ac:structured-macro ac:name="profile-picture" ac:schema-version="1">
							<ac:parameter ac:name="User">
								<ri:user ri:username="{{this.manager}}" />
							</ac:parameter>
						</ac:structured-macro>
					</p>
					<p style="text-align: center;">You'll be paired with and guided by
						<ac:link>
							<ri:user ri:username="{{this.manager}}" />
						</ac:link>
					</p>
					<p style="text-align: center;">
						<ac:structured-macro ac:name="include" ac:schema-version="1">
							<ac:parameter ac:name="">
								<ac:link>
									<ri:page ri:content-title="Welcome pack - guide description" />
								</ac:link>
							</ac:parameter>
						</ac:structured-macro>
					</p>
				</ac:rich-text-body>
			</ac:structured-macro>
		</ac:layout-cell>
	</ac:layout-section>
	<ac:layout-section ac:type="single">
		<ac:layout-cell>
			<hr />
			<p>&nbsp;</p>
		</ac:layout-cell>
	</ac:layout-section>
	<ac:layout-section ac:type="single">
		<ac:layout-cell>
			<h2 style="text-align: center;">Your journey</h2>
		</ac:layout-cell>
	</ac:layout-section>
	<ac:layout-section ac:type="three_equal">
		<ac:layout-cell>
			<h3 style="text-align: center;">
				<strong>
					<ac:link>
						<ri:page ri:content-title="First week plan - {{this.name}}" />
						<ac:plain-text-link-body><![CDATA[First week plan]]></ac:plain-text-link-body>
					</ac:link>
				</strong>
			</h3>
			<p>
				<ac:image ac:align="center">
					<ri:attachment ri:filename="image2015-9-30 17:48:47.png" />
				</ac:image>
			</p>
		</ac:layout-cell>
		<ac:layout-cell>
			<h3 style="text-align: center;">
				<strong>
					<ac:link>
						<ri:page ri:content-title="90 Day Plan - {{this.name}}" />
						<ac:plain-text-link-body><![CDATA[90 day plan]]></ac:plain-text-link-body>
					</ac:link>
				</strong>
			</h3>
			<p>
				<ac:image ac:align="center">
					<ri:attachment ri:filename="image2015-9-30 17:24:40.png" />
				</ac:image>
			</p>
		</ac:layout-cell>
		<ac:layout-cell>
			<h3 style="text-align: center;">
				<ac:link>
					<ri:page ri:content-title="Learning and development - {{this.name}}" />
					<ac:plain-text-link-body><![CDATA[Ongoing learning and development]]></ac:plain-text-link-body>
				</ac:link>
			</h3>
		</ac:layout-cell>
	</ac:layout-section>
</ac:layout>