<ac:layout>
    <ac:layout-section ac:type="two_right_sidebar">
        <ac:layout-cell>
            
            <h2>Customer Metrics</h2>
            <table>
                <thead>
                    <tr>
                        <th>
                            <div>Run DNA Theme</div>
                        </th>
                        <th>
                            <div>Metric</div>
                        </th>
                        <th>
                            <div>Owner</div>
                        </th>
                        <th>
                            <div>Result and health (R, Y, G)</div>
                        </th>
                        <th colspan="1">Link to Action Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Availability
                            <br/>
                            <br/>
                            <br/>
                        </td>
                        <td>Cloud Reliability Score</td>
                        <td>
                            <ac:link>
                                <ri:user ri:username="{{this.reliability.owner}}"/>
                            </ac:link>
                        </td>
                        <td class="highlight-green" data-highlight-colour="green">{{this.reliability.metric}}</td>
                        <td>
                            <p>
                                <a href="https://pug.jira-dev.com/wiki/display/CP/Project%3A+CRS+SWAT">Project: CRS SWAT</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Performance</td>
                        <td>Apdex</td>
                        <td>
                            <ac:link>
                                <ri:user ri:username="{{this.performance.owner}}"/>
                            </ac:link>
                        </td>
                        <td class="highlight-green" data-highlight-colour="green">
                            <p>{{this.performance.metric}}</p>
                        </td>
                        <td>
                            <a href="https://pug.jira-dev.com/wiki/display/CONFENT/Cloud+Performance+Epics">Cloud Performance Epics</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>          
        </ac:layout-cell>
        <ac:layout-cell>
            <ac:structured-macro ac:macro-id="b8aae621-98a9-46fc-a1eb-b0c55a2392a0" ac:name="details"
                                 ac:schema-version="1">
                <ac:parameter ac:name="label"/>
                <ac:rich-text-body>
                    <table>
                        <tbody>
                            <tr>
                                <th>Status</th>
                                <td>
                                    <ac:structured-macro ac:macro-id="67fcb0bc-b064-4f59-b2ba-adadbb867bc1"
                                                         ac:name="status" ac:schema-version="1">
                                        <ac:parameter ac:name="colour">Yellow</ac:parameter>
                                        <ac:parameter ac:name="title">draft</ac:parameter>
                                        <ac:parameter ac:name=""/>
                                    </ac:structured-macro>
                                </td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td><time datetime="2015-09-30"/>&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <th colspan="1">Product</th>
                                <td colspan="1">Confluence</td>
                            </tr>
                            <tr>
                                <th>Owner</th>
                                <td>
                                    <ac:link>
                                        <ri:user ri:username="admin"/>
                                    </ac:link>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ac:rich-text-body>
            </ac:structured-macro>
            <h2>Contents</h2>
            <p>
                <ac:structured-macro ac:macro-id="9feef25e-acfd-411b-be45-3ab75bf39dac" ac:name="toc"
                                     ac:schema-version="1"/>
            </p>
            <h2>Rationale</h2>
            <p>In addition to looking forward as we do with Product strategy reviews, we also need to be clear on the experience we are delivering to customers today.</p>
        </ac:layout-cell>
    </ac:layout-section>
</ac:layout>